body{
    font-family: 'Roboto', sans-serif;
    background-color: #F0F4EF;
    text-align: center;
}

.title-div{
    color: #0D1821;
}

.web-title{
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 100px;
}

.dimitri-title{
    margin-top: 0px;
    font-size: 50px;
}

p{
    font-weight: 300;
    font-size: 20px;
}

.emily-pet-link,
.my-pet-link{
    padding: 0;
    font-size: 30px;
    color: #E84855;
    text-decoration: none;
    text-align: center;
    transition: 0.2s
}

.emily-pet-link:hover,
.my-pet-link:hover{
    color:#d6747c
}

.emily-pet-link{
    margin-right: 5px;
}
.my-pet-link{
    margin-left: 5px;
}

