body{
    font-family: 'Roboto', sans-serif;
    background-color: #F0F4EF;
    text-align: center;
}

.title-div{
    color: #0D1821;
}
h1{
    font-size: 70px;
}
.web-title{
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 90px;
}

.dimitri-title{
    margin-top: 0px;
    font-size: 40px;
}

.homepage.photos{
    display: inline;
    margin-top: 90px;
}
.buddy-pasc-fight,
.buddy-pasc-park{
    height: 400px;
    width: auto;
    border-radius: 10%;
}
.buddy-pasc-fight{
    padding-right: 10px;
}

p{
    font-weight: 300;
    font-size: 15px;
}

a{
    padding: 0;
    font-size: 15px;
    color: #E84855;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
}

a:hover{
    color:#d6747c;
    font-size: 16px;
}

.emily-pet-link,
.my-pet-link{
    margin-bottom: 30px;
}

.emily-pet-link{
    margin-right: 5px;
}
.my-pet-link{
    margin-left: 5px;
}

/*  /////////////////////////////     */
/* EMILY CSS */
.emily-photos-div{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    
}
.buddy-pic,
.pascal-pic,
.kermit-pic,
.coral-pic{
    object-fit: cover;
    width: 300px;
    height: 300px;
    transition: 0.3s;
}
.buddy-pic{
    object-position: top;
}

.buddy-pic:hover,
.pascal-pic:hover,
.kermit-pic:hover,
.coral-pic:hover{
    width: 400px;
    height: 400px;
}

